<!DOCTYPE HTML>
<html>
	<head>
		<title>Output</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='styles/assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
				<section id="main">
                    <header>
                        <span class="avatar"><img src="{{ url_for('static',filename='styles/images/avatar.jpg') }}" alt="" /></span>
                        <h1>Email Scraper</h1>
                    </header>
                    
					<hr />
					{% block content %}
						{% if length  %}
							<h2>Here are the email addresses found:</h2>
								<p>List:</p>
                    			<ul>
                        			{% for key, value in emails.items(): %}
                            		<li>{{ value }}</li><br>
                        			{% endfor %}
								</ul>
								<p>Raw JSON:</p>
								<p>{{ emails }}</p>
						{% else %}
								<h2>No email addresses were found</h2>
						{% endif %}
					{% endblock content %}
                    <hr />
                
                </section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>